ai-trading-strategy-workflow-fixed.json
{
  "name": "AI Trading Strategy Generator with Backtesting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger-weekly",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "ticker-list",
              "name": "tickers",
              "type": "array",
              "value": "={{ [\"AAPL\", \"MSFT\", \"GOOGL\", \"TSLA\", \"NVDA\", \"AMD\", \"META\", \"AMZN\"] }}"
            },
            {
              "id": "period-config",
              "name": "period",
              "type": "string",
              "value": "6mo"
            },
            {
              "id": "interval-config",
              "name": "interval",
              "type": "string",
              "value": "1d"
            },
            {
              "id": "api-url",
              "name": "api_url",
              "type": "string",
              "value": "=https://darryl-contractile-back.ngrok-free.dev/download?tickers=AAPL&tickers=MSFT&tickers=GOOGL&tickers=TSLA&tickers=NVDA&tickers=AMD&tickers=META&tickers=AMZN&period=6mo&interval=1d"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "set-config",
      "name": "Set Analysis Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {}
      },
      "id": "fetch-historical-data",
      "name": "Fetch Historical Stock Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "options": {
          "range": "A:Z"
        }
      },
      "id": "load-previous-performance",
      "name": "Load Previous Strategy Performance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [680, 480],
      "notes": "Loads historical strategy performance data for AI learning"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert quantitative trading strategist. Your role is to analyze stock market data and generate trading strategies.\n\nYou have access to:\n1. Historical price data for multiple stocks\n2. Past strategy performance data to learn from\n\nYour task:\n- Generate 3-5 distinct trading strategies\n- Each strategy should include:\n  * Strategy name\n  * Entry conditions (when to buy)\n  * Exit conditions (when to sell)\n  * Risk management rules (stop loss, position sizing)\n  * Target stocks from the provided list\n  * Expected holding period\n  * Rationale based on technical or fundamental analysis\n\nLearn from past performance:\n- Strategies that performed well should influence your new recommendations\n- Avoid repeating strategies that consistently failed\n- Adapt parameters based on what worked\n\nProvide your response in JSON format:\n{\n  \"strategies\": [\n    {\n      \"name\": \"Strategy Name\",\n      \"tickers\": [\"AAPL\", \"MSFT\"],\n      \"entry_conditions\": \"Description of when to enter\",\n      \"exit_conditions\": \"Description of when to exit\",\n      \"stop_loss_pct\": 5,\n      \"position_size_pct\": 10,\n      \"holding_period_days\": 7,\n      \"rationale\": \"Why this strategy should work\"\n    }\n  ],\n  \"market_analysis\": \"Brief analysis of current market conditions\",\n  \"learning_notes\": \"What you learned from past performance data\"\n}"
            },
            {
              "role": "user",
              "content": "=Historical Stock Data:\n{{ JSON.stringify($node[\"Fetch Historical Stock Data\"].json, null, 2) }}\n\nPast Strategy Performance:\n{{ JSON.stringify($node[\"Load Previous Strategy Performance\"].json, null, 2) }}\n\nAvailable Tickers: {{ $node[\"Set Analysis Parameters\"].json.tickers.join(\", \") }}\n\nGenerate trading strategies for the upcoming week."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "ai-generate-strategies",
      "name": "AI Strategy Generator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "AI analyzes data and generates trading strategies"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Parse AI response\nconst aiResponse = JSON.parse($input.first().json.response.text);\nconst strategies = aiResponse.strategies;\nconst historicalData = $node[\"Fetch Historical Stock Data\"].json;\n\n// Backtesting function\nfunction backtestStrategy(strategy, data) {\n  const results = {\n    strategy_name: strategy.name,\n    tickers: strategy.tickers,\n    total_trades: 0,\n    winning_trades: 0,\n    losing_trades: 0,\n    total_return_pct: 0,\n    max_drawdown_pct: 0,\n    sharpe_ratio: 0,\n    trades: []\n  };\n  \n  for (const ticker of strategy.tickers) {\n    if (!data[ticker]) continue;\n    \n    const prices = data[ticker];\n    let position = null;\n    let capital = 10000;\n    let initialCapital = capital;\n    let peak = capital;\n    \n    for (let i = 20; i < prices.length; i++) {\n      const currentPrice = prices[i].Close;\n      const sma20 = prices.slice(i-20, i).reduce((sum, p) => sum + p.Close, 0) / 20;\n      const sma5 = prices.slice(i-5, i).reduce((sum, p) => sum + p.Close, 0) / 5;\n      \n      if (!position && sma5 > sma20) {\n        const shares = Math.floor((capital * strategy.position_size_pct / 100) / currentPrice);\n        position = {\n          ticker: ticker,\n          entry_price: currentPrice,\n          entry_date: prices[i].Date,\n          shares: shares,\n          stop_loss: currentPrice * (1 - strategy.stop_loss_pct / 100)\n        };\n      }\n      \n      if (position) {\n        const currentValue = position.shares * currentPrice;\n        const entryValue = position.shares * position.entry_price;\n        const returnPct = ((currentValue - entryValue) / entryValue) * 100;\n        \n        if (currentPrice <= position.stop_loss || sma5 < sma20 || i - prices.findIndex(p => p.Date === position.entry_date) >= strategy.holding_period_days) {\n          const profit = currentValue - entryValue;\n          capital += profit;\n          \n          results.total_trades++;\n          if (profit > 0) results.winning_trades++;\n          else results.losing_trades++;\n          \n          results.trades.push({\n            ticker: ticker,\n            entry: position.entry_price,\n            exit: currentPrice,\n            return_pct: returnPct,\n            profit: profit\n          });\n          \n          position = null;\n        }\n        \n        if (capital > peak) peak = capital;\n        const drawdown = ((peak - capital) / peak) * 100;\n        if (drawdown > results.max_drawdown_pct) {\n          results.max_drawdown_pct = drawdown;\n        }\n      }\n    }\n    \n    results.total_return_pct = ((capital - initialCapital) / initialCapital) * 100;\n  }\n  \n  results.win_rate_pct = results.total_trades > 0 ? (results.winning_trades / results.total_trades) * 100 : 0;\n  const avgReturn = results.total_return_pct / results.tickers.length;\n  results.sharpe_ratio = results.max_drawdown_pct > 0 ? avgReturn / results.max_drawdown_pct : 0;\n  \n  return results;\n}\n\nconst backtestResults = strategies.map(strategy => backtestStrategy(strategy, historicalData));\n\nreturn [{\n  timestamp: new Date().toISOString(),\n  strategies: strategies,\n  backtest_results: backtestResults,\n  market_analysis: aiResponse.market_analysis,\n  learning_notes: aiResponse.learning_notes,\n  best_strategy: backtestResults.reduce((best, current) => current.sharpe_ratio > (best?.sharpe_ratio || -Infinity) ? current : best, null)\n}];"
      },
      "id": "backtest-strategies",
      "name": "Backtest Strategies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Backtests strategies against historical data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-profitable-strategy",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.best_strategy.sharpe_ratio }}",
              "rightValue": 0.5
            },
            {
              "id": "has-positive-return",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.best_strategy.total_return_pct }}",
              "rightValue": 0
            }
          ]
        }
      },
      "id": "check-strategy-quality",
      "name": "Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior portfolio manager providing weekly trading recommendations. Analyze the backtested strategies and provide actionable recommendations.\n\nProvide:\n1. Executive Summary (2-3 sentences)\n2. Recommended Strategy with specific action items\n3. Risk Assessment\n4. Expected Returns and timeframe\n5. Alternative options if primary strategy fails\n6. Market conditions to watch\n\nBe specific, actionable, and professional."
            },
            {
              "role": "user",
              "content": "=Backtest Results:\n{{ JSON.stringify($json, null, 2) }}\n\nProvide your weekly trading recommendations."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1500
        }
      },
      "id": "generate-recommendations-good",
      "name": "Generate Recommendations (Good Strategies)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a risk management advisor. The backtested strategies did not meet quality thresholds.\n\nProvide:\n1. Warning about current market conditions\n2. Reasons why strategies underperformed\n3. Recommendation to stay in cash or defensive positions\n4. Market indicators to watch before re-entering\n5. Timeline for next review\n\nBe conservative and risk-aware."
            },
            {
              "role": "user",
              "content": "=Backtest Results:\n{{ JSON.stringify($json, null, 2) }}\n\nProvide your risk assessment and recommendations."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        }
      },
      "id": "generate-recommendations-poor",
      "name": "Generate Recommendations (Poor Strategies)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $node[\"Backtest Strategies\"].json.timestamp }}",
            "strategy_name": "={{ $json.strategy_name }}",
            "tickers": "={{ $json.tickers.join(\", \") }}",
            "total_trades": "={{ $json.total_trades }}",
            "win_rate": "={{ $json.win_rate_pct }}",
            "total_return": "={{ $json.total_return_pct }}",
            "max_drawdown": "={{ $json.max_drawdown_pct }}",
            "sharpe_ratio": "={{ $json.sharpe_ratio }}",
            "market_analysis": "={{ $node[\"Backtest Strategies\"].json.market_analysis }}",
            "recommendation": "={{ $json.recommendation || \"N/A\" }}"
          }
        },
        "options": {}
      },
      "id": "save-performance-data",
      "name": "Save Performance Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "final-report",
              "name": "weekly_report",
              "type": "object",
              "value": "={{ {\n  \"report_date\": $now.toISO(),\n  \"analysis_period\": $node[\"Set Analysis Parameters\"].json.period,\n  \"tickers_analyzed\": $node[\"Set Analysis Parameters\"].json.tickers,\n  \"strategies_tested\": $node[\"Backtest Strategies\"].json.backtest_results.length,\n  \"best_strategy\": $node[\"Backtest Strategies\"].json.best_strategy,\n  \"recommendations\": $json.response?.text || $node[\"Generate Recommendations (Poor Strategies)\"].json.response?.text,\n  \"next_review\": $now.plus({ days: 7 }).toISO()\n} }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "format-final-report",
      "name": "Format Final Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Set Analysis Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Analysis Parameters": {
      "main": [
        [
          {
            "node": "Fetch Historical Stock Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Previous Strategy Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Historical Stock Data": {
      "main": [
        [
          {
            "node": "AI Strategy Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Strategy Performance": {
      "main": [
        [
          {
            "node": "AI Strategy Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Strategy Generator": {
      "main": [
        [
          {
            "node": "Backtest Strategies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backtest Strategies": {
      "main": [
        [
          {
            "node": "Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Check": {
      "main": [
        [
          {
            "node": "Generate Recommendations (Good Strategies)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Recommendations (Poor Strategies)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Recommendations (Good Strategies)": {
      "main": [
        [
          {
            "node": "Save Performance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Recommendations (Poor Strategies)": {
      "main": [
        [
          {
            "node": "Save Performance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Performance Data": {
      "main": [
        [
          {
            "node": "Format Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
