ai-trading-strategy-workflow-corrected.json
{
  "name": "AI Trading Strategy Generator with Backtesting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "ticker-list",
              "name": "tickers",
              "type": "array",
              "value": "={{ [\"AAPL\", \"MSFT\", \"GOOGL\", \"TSLA\", \"NVDA\", \"AMD\", \"META\", \"AMZN\"] }}"
            },
            {
              "id": "period-config",
              "name": "period",
              "type": "string",
              "value": "6mo"
            },
            {
              "id": "interval-config",
              "name": "interval",
              "type": "string",
              "value": "1d"
            },
            {
              "id": "api-url",
              "name": "api_url",
              "type": "string",
              "value": "https://darryl-contractile-back.ngrok-free.dev/download?tickers=AAPL&tickers=MSFT&tickers=GOOGL&tickers=TSLA&tickers=NVDA&tickers=AMD&tickers=META&tickers=AMZN&period=6mo&interval=1d"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Set Analysis Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "authentication": "none",
        "options": {}
      },
      "id": "fetch-data",
      "name": "Fetch Historical Stock Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "load-performance",
      "name": "Load Previous Strategy Performance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [680, 480]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert quantitative trading strategist. Analyze stock market data and generate trading strategies.\n\nGenerate 3-5 distinct trading strategies with:\n- Strategy name\n- Entry/exit conditions  \n- Risk management rules (stop loss, position sizing)\n- Target stocks from the list\n- Expected holding period\n- Rationale\n\nLearn from past performance data provided. Respond in JSON:\n{\n  \"strategies\": [{\n    \"name\": \"Strategy Name\",\n    \"tickers\": [\"AAPL\", \"MSFT\"],\n    \"entry_conditions\": \"When to buy\",\n    \"exit_conditions\": \"When to sell\",\n    \"stop_loss_pct\": 5,\n    \"position_size_pct\": 10,\n    \"holding_period_days\": 7,\n    \"rationale\": \"Why this works\"\n  }],\n  \"market_analysis\": \"Market conditions\",\n  \"learning_notes\": \"What you learned\"\n}"
            },
            {
              "role": "user",
              "content": "=Historical Data:\n{{ JSON.stringify($node[\"Fetch Historical Stock Data\"].json, null, 2) }}\n\nPast Performance:\n{{ JSON.stringify($node[\"Load Previous Strategy Performance\"].json, null, 2) }}\n\nTickers: {{ $node[\"Set Analysis Parameters\"].json.tickers.join(\", \") }}\n\nGenerate trading strategies for the upcoming week."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "ai-generator",
      "name": "AI Strategy Generator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Parse AI response\nconst aiResponse = JSON.parse($input.first().json.response.text);\nconst strategies = aiResponse.strategies;\nconst historicalData = $node[\"Fetch Historical Stock Data\"].json;\n\n// Backtesting function\nfunction backtestStrategy(strategy, data) {\n  const results = {\n    strategy_name: strategy.name,\n    tickers: strategy.tickers,\n    total_trades: 0,\n    winning_trades: 0,\n    losing_trades: 0,\n    total_return_pct: 0,\n    max_drawdown_pct: 0,\n    sharpe_ratio: 0\n  };\n  \n  for (const ticker of strategy.tickers) {\n    if (!data[ticker]) continue;\n    \n    const prices = data[ticker];\n    let capital = 10000;\n    let initialCapital = capital;\n    let peak = capital;\n    \n    for (let i = 20; i < prices.length; i++) {\n      const currentPrice = prices[i].Close;\n      const sma20 = prices.slice(i-20, i).reduce((sum, p) => sum + p.Close, 0) / 20;\n      const sma5 = prices.slice(i-5, i).reduce((sum, p) => sum + p.Close, 0) / 5;\n      \n      // Simplified backtest logic\n      if (sma5 > sma20) {\n        const profitPct = (currentPrice / prices[i-1].Close - 1) * 100;\n        capital += capital * (profitPct / 100);\n        if (profitPct > 0) results.winning_trades++;\n        else results.losing_trades++;\n        results.total_trades++;\n      }\n      \n      if (capital > peak) peak = capital;\n      const drawdown = ((peak - capital) / peak) * 100;\n      if (drawdown > results.max_drawdown_pct) {\n        results.max_drawdown_pct = drawdown;\n      }\n    }\n    \n    results.total_return_pct = ((capital - initialCapital) / initialCapital) * 100;\n  }\n  \n  results.win_rate_pct = results.total_trades > 0 ? (results.winning_trades / results.total_trades) * 100 : 0;\n  results.sharpe_ratio = results.max_drawdown_pct > 0 ? results.total_return_pct / results.max_drawdown_pct : 0;\n  \n  return results;\n}\n\nconst backtestResults = strategies.map(strategy => backtestStrategy(strategy, historicalData));\n\nreturn [{\n  timestamp: new Date().toISOString(),\n  strategies: strategies,\n  backtest_results: backtestResults,\n  market_analysis: aiResponse.market_analysis,\n  learning_notes: aiResponse.learning_notes,\n  best_strategy: backtestResults.reduce((best, current) => current.sharpe_ratio > (best?.sharpe_ratio || -Infinity) ? current : best, null)\n}];"
      },
      "id": "backtest",
      "name": "Backtest Strategies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-sharpe",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.best_strategy.sharpe_ratio }}",
              "rightValue": 0.5
            }
          ]
        }
      },
      "id": "quality-check",
      "name": "Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior portfolio manager. Provide weekly trading recommendations based on backtest results.\n\nInclude:\n1. Executive Summary\n2. Recommended Strategy with action items\n3. Risk Assessment\n4. Expected Returns\n5. Market conditions to watch"
            },
            {
              "role": "user",
              "content": "=Results:\n{{ JSON.stringify($json, null, 2) }}\n\nProvide recommendations."
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "rec-good",
      "name": "Generate Recommendations (Good)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a risk management advisor. Strategies underperformed. Provide conservative recommendations."
            },
            {
              "role": "user",
              "content": "=Results:\n{{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "rec-poor",
      "name": "Generate Recommendations (Poor)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $node[\"Backtest Strategies\"].json.timestamp }}",
            "strategy_name": "={{ $json.strategy_name }}",
            "sharpe_ratio": "={{ $json.sharpe_ratio }}"
          }
        },
        "options": {}
      },
      "id": "save-data",
      "name": "Save Performance Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "report",
              "name": "weekly_report",
              "type": "object",
              "value": "={{ {\n  \"report_date\": $now.toISO(),\n  \"best_strategy\": $node[\"Backtest Strategies\"].json.best_strategy,\n  \"recommendations\": $json.response?.text\n} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-report",
      "name": "Format Final Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Trigger": {
      "main": [[{"node": "Set Analysis Parameters", "type": "main", "index": 0}]]
    },
    "Set Analysis Parameters": {
      "main": [[
        {"node": "Fetch Historical Stock Data", "type": "main", "index": 0},
        {"node": "Load Previous Strategy Performance", "type": "main", "index": 0}
      ]]
    },
    "Fetch Historical Stock Data": {
      "main": [[{"node": "AI Strategy Generator", "type": "main", "index": 0}]]
    },
    "Load Previous Strategy Performance": {
      "main": [[{"node": "AI Strategy Generator", "type": "main", "index": 0}]]
    },
    "AI Strategy Generator": {
      "main": [[{"node": "Backtest Strategies", "type": "main", "index": 0}]]
    },
    "Backtest Strategies": {
      "main": [[{"node": "Quality Check", "type": "main", "index": 0}]]
    },
    "Quality Check": {
      "main": [
        [{"node": "Generate Recommendations (Good)", "type": "main", "index": 0}],
        [{"node": "Generate Recommendations (Poor)", "type": "main", "index": 0}]
      ]
    },
    "Generate Recommendations (Good)": {
      "main": [[{"node": "Save Performance Data", "type": "main", "index": 0}]]
    },
    "Generate Recommendations (Poor)": {
      "main": [[{"node": "Save Performance Data", "type": "main", "index": 0}]]
    },
    "Save Performance Data": {
      "main": [[{"node": "Format Final Report", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}

